*.pyc
*i686
*x86_64
generatedNEURON
generatedNeuroML2
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
generatedFigures
simulations
old_simulations
savedNetworks
*.bak
*py.class
cellProcesses
scriptedSimulations
*.pxp
*.png
*.pdf
dataSets/